* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.parent {
    height: 50vh;
    width: 100%;
    background-color: aliceblue;
    display: flex;
    /* flex-flow: wrap; */
    /* flex-wrap: wrap; */
    /* flex-direction: column; */
    /* justify-content: center; */
}

.child {
    background-color: black;
    color: wheat;
    width: 100px;
    height: 100px;
    margin: 10px;
}

.txt {
    /* order: 4; */
    flex-grow: 2;
    align-self: center;
}
.def {
    /* order: 4; */
    /* flex-grow: 3; */
    /* flex-shrink: 2; */
}